- if post.images.attached?
  - if post.images.size == 3
    .grid-img
      .grid-img-one#itema
        = image_tag post.images.first, class: 'img'
      .grid-img-two#itemb
        = image_tag post.images.second, class: 'img'
      .grid-img-third#itemc
        = image_tag post.images.third, class: 'img' 
  - elsif post.images.size == 2
    .display-flex
      .display-flex-left
        = image_tag post.images.first, class: 'flex-img'
      .display-flex-right
        = image_tag post.images.second, class: 'flex-img'
  - else 
    .image-one-box
      = image_tag post.images.first, class: 'image-first'
      