.container
  = form_with model: @post do |f|
    .post_new_header
      %div
        = link_to 'Cance', :back , class: 'cance_button'
      %div
        %p.status_button Status
      %div
        = f.submit 'Post', class: 'post_new_button'
    %ul
      - @post.errors.full_messages.each do |message|
        %li= message
    .usericon
      = image_tag current_user.avatar_image, class: 'usericon'
    .post_username
      %p= current_user.account
    %div
      = f.text_field :content, placeholder: "What's on your mind ?", class: 'post_content_form'
    %div
      = f.label :images, '+ Album', class: 'images_input_btn' do
        %i.images_form_name + Album
        = f.file_field :images, multiple: true, class: 'images_form'
      